<h1>{{question.request}}</h1>
<h4>{{question.asker}}</h4>
  <br>
<h3>{{question.info}}</h3>

{{#each question.answers as |answer|}}
   <div class="single-answer">
     {{answer-tile answer=answer}}
   </div>
 {{/each}}

 {{new-answer saveAnswer="saveAnswer" question=question}}
